@import './normalize.css';
body {
  font-family: "Montserrat", sans-serif;
}

.ul-content {
  margin: 15px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .list-item-title {
  margin: 9px 0;
  color: aqua;
  text-align: center;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */